.nz-right-mouse-menu {
    margin: 3px;
}

.nz-popover-three-dots-menu-div .nz-action-image-container:hover {
    background-color: var(--primary) !important;
}

.nz-image-list-container .nz-image-container {
    width: 40px !important;
}
.nz-popover-three-dots-menu-div .MuiPaper-root{
overflow-y: auto;
}
.nz-fc-checkbox.MuiCheckbox-root + .MuiTouchRipple-root:before {
    content: "";
    width: 13px !important;
    height: 13px !important;
    top: 0;
    left: 0;
    position: relative;
    background-image: none !important;
    overflow: inherit;
    display: block !important;
    z-index: 9;
}
.nz-fc-checkbox.Mui-checked + .MuiTouchRipple-root:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid var(--textprimary);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}
.nz-fc-checkbox.MuiCheckbox-root + .MuiTouchRipple-root:focus {
    outline: none !important;
}
.nz-fc-checkbox.MuiCheckbox-root + .MuiTouchRipple-root {
    padding: 0 !important;
    margin: 6px 4px !important;
    border-radius: 0 !important;
    width: 15px;
    height: 15px;
    border: 1px solid var(--textprimary);
    position: relative;
}
.nz-fc-checkbox  .MuiSvgIcon-root{
    position: absolute;
}
.MuiPaper-root .form-control-labeled{
    margin-top:4px !important
}