.nz-searchControl{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0px;
}
.nz-search-control{
    width: 100%;
}
.nz-search-control .form-control-labeled{
    padding: 0px !important;
    margin-top: 0px !important;
}
.nz-filter-icon ,
.nz-lens-icon{
    padding-left: 5px;
    padding-right: 5px;
}
.nz-hidefilter-icon{
    padding-left: 5px;
}

.form-control-labeled input {
    padding: 1px 3px 0px;
}